# Numpy Assignment 1
---
Submitted by: **Uzair Aziz Suria**


Roll#: **PIAIC148047**

<!-- <hr style={
    border: none;
    border-top:1px dashed red;
    width: 100%;
    height: 1px
    }/> -->
    
<div style='border-top: red 2px dotted'/>

## Section 1
Difficulty Level: **Beginner**

**1.**

Import the numpy package under the name np

In [1]:
import numpy as np

**2.**

Create a null vector of size 10

In [2]:
null_10 = np.zeros(10)

In [3]:
null_10

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

**3.**

Create a vector with values ranging from 10 to 49

In [4]:
arr1 = np.arange(10, 50)
arr1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

**4.**

Find the shape of previous array in question 3

In [5]:
np.shape(arr1)

(40,)

**5.**

Print the type of the previous array in question 3

In [6]:
arr1.dtype

dtype('int32')

**6.**

Print the numpy version and the configuration

In [7]:
print(f"Numpy Version: {np.__version__}")
print(f"Numpy Config: {np.show_config()}")

Numpy Version: 1.19.2
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/uzair/machine-learning/PIAIC/AI/env\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/uzair/machine-learning/PIAIC/AI/env\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/uzair/machine-learning/PIAIC/AI/env\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/uzair/machine-learning/PIAIC/AI/env\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/uzair/machine-learning/PIAIC/AI/env\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/uzair/machine-learning/PIAIC/AI/env\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/uzair/machine-learning/PIAIC/AI/env\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/uzair/machine-learning/PIAIC/AI/env\\Library\\include']
Numpy Config: None

**7.**

Print the dimension of the array in question 3

In [8]:
arr1.ndim

1

**8.**

Create a boolean array with all the True values

In [9]:
arr2 = np.ones(5, dtype=bool)

In [10]:
arr2

array([ True,  True,  True,  True,  True])

**9.**

Create a two dimensional array

In [11]:
arr3 = np.array([[1, 2, 3],
                 [4, 5, 6]])
arr3

array([[1, 2, 3],
       [4, 5, 6]])

**10.**

Create a three dimensional array

In [12]:
arr4 = np.array([[[1, 2, 3], [4, 5, 6]],[[7, 8, 9], [10, 11, 12]]])
arr4

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

**11.**

Reverse a vector (first element becomes last)

In [13]:
np.flip(arr4)

array([[[12, 11, 10],
        [ 9,  8,  7]],

       [[ 6,  5,  4],
        [ 3,  2,  1]]])

12. Create a null vector of size 10 but the fifth value which is 1

In [14]:
arr5 = np.zeros(10, dtype=int)
arr5[4] = 1
arr5

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

**13.**

Create a 3x3 identity matrix

In [15]:
arr6 = np.ones(9).reshape(3,3)
arr6

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

**14.**

```python
arr = np.array([1, 2, 3, 4, 5])
```

---

 Convert the data type of the given array from int to float

In [16]:
arr7  =np.array([1, 2, 3, 4, 5])
arr7 = arr7.astype(float)
arr7

array([1., 2., 3., 4., 5.])

**15.**


```python
arr1 = np.array([[1., 2., 3.],
                 [4., 5., 6.]])  
                      
arr2 = np.array([[0., 4., 1.],
                 [7., 2., 12.]])
```
---


Multiply arr1 with arr2

In [17]:
arr8 = np.array([[1., 2., 3.],
                 [4., 5., 6.]])
arr9 = np.array([[0., 4., 1.],
                 [7, 2, 12.]])
res = np.multiply(arr8, arr9)
res

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

**16.**


```python
arr1 = np.array([[1., 2., 3.],
                 [4., 5., 6.]])               
arr2 = np.array([[0., 4., 1.], 
                 [7., 2., 12.]])
```

---

Make an array by comparing both the arrays provided above

In [18]:
arr10 = np.array([[1., 2., 3.],
                 [4., 5., 6.]]) 

arr11 = np.array([[0., 4., 1.],
                 [7., 2., 12.]])

In [19]:
comp = (arr10 >= arr11)
comp

array([[ True, False,  True],
       [False,  True, False]])

**17.**

Extract all odd numbers from arr with values(0-9)

In [20]:
arr12 = np.arange(0, 10)
arr12

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [21]:
odd_array=arr12[arr12%2!=0]
odd_array

array([1, 3, 5, 7, 9])

**18.**

Replace all odd numbers to -1 from previous array

In [22]:
replaced_array = arr12
replaced_array[replaced_array%2!=0]=-1
replaced_array

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

**19.**

```python
arr = np.arange(10)
```

---

Replace the values of indexes 5,6,7 and 8 to **12**

In [23]:
arr13 = np.arange(10)
arr13[5:9]=12
arr13

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

**20.**

Create a 2d array with 1 on the border and 0 inside

In [24]:
arr14 = np.ones((5,5), dtype=int)
arr14[1:-1, 1:-1] = 0
arr14

array([[1, 1, 1, 1, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 1, 1, 1, 1]])

## Section 2
Difficulty Level: **Medium**

**21.**
```python
arr2d = np.array([[1, 2, 3],
                  [4, 5, 6], 
                  [7, 8, 9]])
```
---

Replace the value 5 to 12

In [25]:
arr2d = np.array([[1, 2, 3],
                  [4, 5, 6],
                  [7, 8, 9]])

arr2d[1, 1]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

**22.**

```python
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
```
---
Convert all the values of 1st array to 64

In [26]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0, 0] = 64
arr3d

array([[[64, 64, 64],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

**23.**

Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [27]:
arr15 = np.arange(10).reshape(2, 5)
arr15[0:1, :]

array([[0, 1, 2, 3, 4]])

**24.**

Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [28]:
arr16 = np.arange(10).reshape(2, 5)
arr16[1:, 1:2]

array([[6]])

**25.**

Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [29]:
arr17 = np.arange(10).reshape(2, 5)
arr17
arr17[:3, 2:3]

array([[2],
       [7]])

**26.**

Create a 10x10 array with random values and find the minimum and maximum values

In [30]:
arr18 = np.random.rand(10*10).reshape(10, 10)

In [31]:
arr18

array([[0.24939301, 0.85849562, 0.58116773, 0.60181681, 0.37313251,
        0.92154996, 0.39873052, 0.71519342, 0.35360159, 0.71788998],
       [0.97270802, 0.83738487, 0.5478244 , 0.46866563, 0.83843529,
        0.94897332, 0.91551806, 0.14329106, 0.84860311, 0.33772989],
       [0.33096231, 0.99577893, 0.11198658, 0.47136679, 0.71366092,
        0.42121684, 0.54530021, 0.57481863, 0.01886287, 0.80874906],
       [0.4560358 , 0.36840649, 0.36187352, 0.92547703, 0.58166448,
        0.00635874, 0.27586797, 0.3169607 , 0.24202476, 0.89876356],
       [0.91019535, 0.89363282, 0.29812116, 0.16280865, 0.21675398,
        0.08902304, 0.27430348, 0.49109069, 0.8208322 , 0.4212506 ],
       [0.15000778, 0.35099834, 0.89383636, 0.85125456, 0.9277907 ,
        0.58361248, 0.25777877, 0.21690298, 0.30496131, 0.83680045],
       [0.58822097, 0.71932829, 0.56072668, 0.13845659, 0.16328241,
        0.49423819, 0.89989683, 0.37669616, 0.45928234, 0.52590692],
       [0.8419338 , 0.49208977, 0.83948502, 0.34252979, 0.15741907,
        0.84263131, 0.59895927, 0.33965401, 0.88493885, 0.97113919],
       [0.16082159, 0.88898361, 0.18360307, 0.92930516, 0.45656128,
        0.17047312, 0.15116089, 0.56608968, 0.20615727, 0.6528666 ],
       [0.1528651 , 0.44689992, 0.97188599, 0.89441805, 0.27421043,
        0.89515516, 0.59746376, 0.91772609, 0.10966785, 0.15400813]])

In [32]:
arr18.max()

0.9957789327370762

In [33]:
arr18.min()

0.006358736434968315

**27.**

```python
a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
```

---
Find the common items between a and b

In [34]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

In [35]:
np.intersect1d(a, b)

array([2, 4])

**28.**
```python
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
```


---
Find the positions where elements of a and b match

In [36]:
np.equal(a, b).nonzero()[0]

array([1, 3, 5, 7], dtype=int64)

**29.**

```python
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
```

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [37]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randint(4, size=(7, 10))
print(f"Data:\n {data}")
data[(names != "Will")]

Data:
 [[2 0 3 0 1 0 3 2 0 1]
 [2 3 0 2 1 2 0 0 3 1]
 [3 3 0 3 0 1 3 1 2 0]
 [0 2 3 3 3 0 0 2 1 0]
 [3 0 1 1 0 1 0 0 2 2]
 [3 2 0 2 0 0 3 2 2 3]
 [3 2 2 3 0 0 3 1 1 2]]

array([[2, 0, 3, 0, 1, 0, 3, 2, 0, 1],
       [2, 3, 0, 2, 1, 2, 0, 0, 3, 1],
       [0, 2, 3, 3, 3, 0, 0, 2, 1, 0],
       [3, 2, 0, 2, 0, 0, 3, 2, 2, 3],
       [3, 2, 2, 3, 0, 0, 3, 1, 1, 2]])

**30.**
```python
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

data = np.random.randn(7, 4)
```
---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [38]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
print(f"Data: {data}")
data[(names != "Will").nonzero()]

Data: [[-0.66148959 -0.75209898 -0.59943262 -0.82681053]
 [-0.11058724  0.55184133 -1.31585153 -0.49354033]
 [-0.26912932  0.31733232  0.84345983  0.85873901]
 [-0.57806407 -1.68929109  1.40522531  2.15645716]
 [ 0.81535212  1.08478945 -1.2514577   1.16024674]
 [-1.00247413  0.2196731  -1.00472307 -1.32977175]
 [ 0.57476383 -0.79692147 -0.77706611  0.50335904]]

array([[-0.66148959, -0.75209898, -0.59943262, -0.82681053],
       [-0.11058724,  0.55184133, -1.31585153, -0.49354033],
       [-0.57806407, -1.68929109,  1.40522531,  2.15645716],
       [-1.00247413,  0.2196731 , -1.00472307, -1.32977175],
       [ 0.57476383, -0.79692147, -0.77706611,  0.50335904]])

## Section 3
Difficulty Level **Hard**

**31.**

Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [39]:
arr19 = np.arange(1, 16, dtype=float).reshape(5, 3)
arr19

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.],
       [ 7.,  8.,  9.],
       [10., 11., 12.],
       [13., 14., 15.]])

**32.**

Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [40]:
arr20 = np.arange(1, 17, dtype=float).reshape(2, 2, 4)
arr20

array([[[ 1.,  2.,  3.,  4.],
        [ 5.,  6.,  7.,  8.]],

       [[ 9., 10., 11., 12.],
        [13., 14., 15., 16.]]])

**33.**

Swap axes of the array you created in Question 32

In [41]:
np.swapaxes(arr20, 1, 2)

array([[[ 1.,  5.],
        [ 2.,  6.],
        [ 3.,  7.],
        [ 4.,  8.]],

       [[ 9., 13.],
        [10., 14.],
        [11., 15.],
        [12., 16.]]])

**34.**

Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [41]:
arr21 = np.sqrt(np.random.uniform(0, 1, 10))
arr21[arr21<0.5]=0
arr21

array([0.98905458, 0.60495077, 0.8084044 , 0.85154458, 0.        ,
       0.77178079, 0.69678161, 0.        , 0.        , 0.88832306])

**35.**

Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [43]:
arr22 = np.random.uniform(0, 5, size=12)
arr23 = np.random.uniform(0, 5, size=12)
arr24 = np.maximum(arr22, arr23)
arr24

array([3.42977501, 1.97177169, 3.39544351, 3.45055523, 2.32295769,
       2.5632972 , 3.63929981, 4.93463148, 4.62394532, 4.21441591,
       3.90371379, 3.26201938])

**36.**

```python
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
```
---
Find the unique names and sort them out!

In [44]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.sort(np.unique(names))

array(['Bob', 'Joe', 'Will'], dtype='<U4')

**37.**
```python
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
```
---
From array a remove all items present in array b

In [45]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

np.setdiff1d(a, b)

array([1, 2, 3, 4])

**38.**

Following is the input NumPy array delete column two and insert following new column in its place.

---
```python
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 
newColumn = numpy.array([[10,10,10]])
```
---

In [46]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]]) 
newColumn = np.array([[10,10,10]])

newSampleArray = sampleArray
newSampleArray[1:2, :] = newColumn
newSampleArray

array([[34, 43, 73],
       [10, 10, 10],
       [53, 94, 66]])

**39.**

```python
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
```

---
Find the dot product of the above two matrix

In [47]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
np.dot(x, y)

array([[ 28.,  64.],
       [ 67., 181.]])

**40.**

Generate a matrix of 20 random values and find its cumulative sum

In [48]:
np.cumsum(np.random.uniform(0, 5, 20))

array([ 4.31935345,  4.48751968,  4.65183405,  8.24870508, 12.36980692,
       16.37743495, 16.83488248, 17.68585386, 19.27672319, 20.79818052,
       21.66987287, 26.35551887, 31.13385838, 35.66571668, 38.42908105,
       40.20809917, 40.70111713, 43.4939486 , 44.81703662, 47.57916694])